.review-agg-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 145px;
    width: fit-content;
    column-gap: 8px;
}
.review-agg-text-review-count{
    text-decoration: underline;
    text-underline-offset: 2px
}
