.detailed-spot-post-review-button, .detailed-spot-post-delete-button, .user-login-button{
    background-color: #f9385d;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.user-login-button, .user-signup-button{
    border-radius: 5px;
}

.user-spot-delete-button, .user-signup-button{
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(120, 120, 120);
    color: white;
}
