.spot-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: center;
}

.spot-card-list-item{
    width: 20%;
    min-width: 250px;
    box-sizing: border-box;
}

.spot-card-link{
    text-decoration: none;
    color: black;
}
