.spot-card-img{
    width: 100%;
    height: 25vh;
    object-fit: cover;
    border-radius: 10px;
}

.spot-card-text{
    display: flex;
    justify-content: space-between;
}

.spot-card-text-right{
    margin-top: 15px;
}
