.spot-management-link, .spot-creation-link{
    text-decoration: none;
    color: #47bbff;
}

.spot-management-link{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px 0px;
}


.user-logout-button{
    background-color: #f9385d;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
}

.inner-menu-button{
    background-color: white;
    border: none;
}

.nav-list{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px rgba(223, 222, 222, 0.471) solid;
    padding-bottom: 20px;
    padding-right: 20px;
}

.nav-home-link{
    display: flex;
    align-items: center;
}

.menu-wrapper{
    display: flex;
    column-gap: 10px;
    align-items: center;
    border: #cdcdcd solid 1.5px;
    padding: 12px;
    border-radius: 35px;
}

.menu-wrapper:hover{
    cursor: pointer;
    box-shadow: 1px 3px 5px #d3d3d3 ;
}

.nav-list-right{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.profile-dropdown{
    position: fixed;
    z-index: 2;
    margin-top: 20px;
    margin-left: -100px;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.profile-dropdown-outer{
    position: fixed;
    z-index: 2;
    margin-top: 155px;
    margin-left: -35px;
    padding-left: 0px;
    padding: 10px;
    border: black solid 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

ul.hidden, i.hidden{
    display: none;
}

.profile-dropdown > li{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: -40px;
    padding: 10px;
    background-color: white;
    width: fit-content;
}

li.session-butons-li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}
