/* TODO: Style Login Page */
button.submit-login-active{
    color: white;
    background-color: #f34669;
    margin-top: 30px;
    padding: 10px;
}

button.submit-login-inactive{
    color: rgb(197, 197, 197);
    background-color: white;
    padding: 10px;
    margin-top: 10px;
}

.login-form-modal{
    height: fit-content;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 250px;
}

.demo-user-login{
    width: fit-content;
    align-self: center;
    border: none;
    background-color: white;
}
